---
name: "CI"
on: ["pull_request", "push", "workflow_dispatch"] # yamllint disable-line rule:truthy rule:comments
jobs:
  linters:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      # TODO: Enable Ruff when the issues are fixed
      # https://github.com/astral-sh/ruff-action/issues/256
      # - name: "Ruff format"
      #   uses: "astral-sh/ruff-action@v3"
      #   with:
      #     args: "format --check --diff"
      #     version-file: "pyproject.toml"
      # - name: "Ruff check"
      #   uses: "astral-sh/ruff-action@v3"
      #   with:
      #     args: "check"
      - name: "Yamllint"
        uses: "karancode/yamllint-github-action@master"

  secrets-scan:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - uses: "gitleaks/gitleaks-action@v2"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  vulnerabilities-scan:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Install Syft & Grype"
        run: |
          curl -sSfL https://get.anchore.io/syft | sudo sh -s -- -b /usr/local/bin
          curl -sSfL https://get.anchore.io/grype | sudo sh -s -- -b /usr/local/bin
      - name: "Generate SBOM with Syft"
        run: |
          syft scan . -o json > sbom.json
      - name: "Scan for high vulnerabilities"
        run: |
          grype sbom:sbom.json --fail-on high
